/* Import Tailwind CSS */
@import "tailwindcss";
/* Tailwind CSS theme */
@theme {
  --color-primary: #6c14d0;
  --color-secondary: #c72092;
  --default-font-family: "Delius Unicase", serif;
}
/* container config */
@utility container {
    padding-block: 10px;
    margin-inline: auto;
    
    @variant sm {
      padding-inline: 20px;
    }

    @variant lg {
      padding-inline: 80px;
    }

    @variant xl {
      padding-inline: 120px;
    }
}

html {
    scroll-behavior: smooth;
}

/* mobile menu */
#menu-btn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}
.mobile-menu-top,
.mobile-menu-middle,
.mobile-menu-bottom {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 30px;
    height: 3px;
    transform: rotate(0);
    transition: all 0.5s;

}
.mobile-menu-middle {
    transform: translateY(9px);
}
.mobile-menu-bottom {
    transform: translateY(18px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .mobile-menu-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .mobile-menu-middle {
    display: none;
}
.open .mobile-menu-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* title */
.title {
    @apply text-4xl font-bold capitalize text-center bg-gradient-to-r from-secondary to-primary bg-clip-text text-transparent lg:text-5xl
}
#Hero img {
    animation: pop 2s ease-in-out infinite;
}
@keyframes pop {
    0% {
        transform: translateY(20px) ;
    }
    50% {
        transform: translateY(-10px) ;
    }
    100% {
        transform: translateY(20px) ;
    }
}
.main-btn {
    @apply py-3 px-7 rounded-2xl text-lg text-white bg-gradient-to-r from-secondary to-primary cursor-pointer lg:py-4 lg:px-8 lg:text-xl
}
.main-btn-small {
    @apply py-2 px-6 rounded-2xl text-sm text-white bg-gradient-to-r from-secondary to-primary cursor-pointer
}

/* Products */
#Products .card {
    @apply  bg-gray-100 drop-shadow-xl flex flex-col items-center justify-center p-8 rounded-2xl duration-300 cursor-pointer hover:-translate-y-4
}
#Products .card img {
    @apply w-48 object-cover md:w-56
}
#Products .card h3 {
    @apply text-xl font-bold pt-4 lg:text-2xl
}
#Products .card p {
    @apply text-xl font-bold py-2 lg:text-2xl
}
#Products .card .stars {
    @apply text-xl font-bold py-2 text-yellow-500
}

#Review .card {
    @apply bg-gray-100 drop-shadow-xl flex flex-col justify-start p-8 rounded-2xl duration-300 cursor-pointer hover:-translate-y-4
}
#Review .card img {
    @apply w-20 h-20 object-cover rounded-full
}
#Review .card h3 {
    @apply text-lg font-bold pt-4
}
#Review .card .stars {
    @apply text-lg font-bold py-2
} 
#Review .card p {
    @apply text-lg py-2
}

#About .image-box img {
    @apply w-40 p-2 rounded-md object-cover bg-gradient-to-r from-secondary to-primary cursor-pointer duration-300 opacity-70 hover:opacity-100
}


/* Scroll Back To Top Button */
#STB {
    @apply hidden fixed bottom-5 right-8 z-50 border-none outline-none bg-gradient-to-r from-secondary to-primary text-white cursor-pointer py-4 px-6 rounded-full text-2xl duration-300 hover:opacity-80
}